
 .fondo {
    height: 100vh;
    background: url('https://wallpaperplay.com/walls/full/d/1/c/128193.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;

}

.gris {
    background: rgba(0, 0, 0, 0.253);
}

.top-nav-collapse {
    background: rgba(0, 0, 0, 0.74) !important;
}

.body {
    background: black;
}
.card-body{
    background: 50px;
}

.modal-content{
    background-color: #EAFFD5;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #C1FF98;


}

.user-img-userlog {
    margin-top: -100px;
}

.user-img-userlog img{
    width: 300px;
    height: 300px;
}

.form-group input {
    height: 42px;
    font-size: 18px;
}

.forgot-userlog-text {
    color:green;
}

.logincss{
   padding: 150px; 
}



.card_product {
    width: 200px;
    height: 250px;
    margin-left: 200px;
}

.card_product img{
   
    margin-top: 10px;
    width: 130px;
    height: 150px;
}


.row1{
    margin-top: 30px;
    margin-right: 50px; 

}

.row2 {
    margin-top: 50px;
     margin-right: 50px; 
}


.filtros{
    margin-top: 70px;
}

.price {
    font-size: 1em;
}

.buy_button {
    width: 100px;
    font-size: 1em;
}

.p-name{
    font-size: 25px;
}