header {
	background:url(../Imagenes/VerdeHeader.png);
	background-repeat:repeat-x;
	background-attachment:fixed;
	background-size: 200px;

}

dbody {

	background:url(../Imagenes/Vegan.png);
	background-position: center;

	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 1100px;
}

span {
	color:green;
}

li a {
	color:green;
}



.fondo{		

			color: white;
			width: 150px;



		}

.borde{

	}

.col-1 {
	background-color: rgba(0,0,0,0.2);

	height: 100px;
}

p {

	font-style: oblique;
}

.title {
	background-color:rgba(58.43%,71.76%,58.04%);
	color:white;
	position: absolute;
	right: 50%;
	background-attachment: fixed;
	font-style: oblique;


}

.last-add {
	color:black;
	font-size: 15px;
	font-family:Pixel Sans Serif Regular;
	color:rgba(0,0,0,0.5);
	
}

.popular-store p{
	color:black;
	font-size: 15px;
	font-family:Pixel Sans Serif Regular;
	color:rgba(0,0,0,0.5);
	
}

.Aux {
	background-color: rgba(0,125,125,0.3);
	height: 300px;
	width: 170px;
	position: absolute;

}
